# Ignore everything by default
*

# Always allow these baseline files
!.gitignore
!README.md
!CONTRIBUTING.md
!StartHereGuide.md

# Assets (images, etc.)
!assets/
!assets/images/
!assets/images/README-cover.png

# Docs
!docs/
!docs/micro-projects.md
!docs/StartHereExample.md

# src
!src/
!src/app.md

# Include GitHub config directory (branch rules, workflows, etc.)
!.github/
!.github/rulesets/
!.github/rulesets/branch-protection-ruleset.json
!.github/pull_request_template.md
!.github/Security.md

# TEMP: Hide these
.github/workflows/
src/README.md